{% extends 'base_main.html' %}

{% load static %}

{% block content %}
    <!--主要区域开始-->
    <div id="main">
        <form class="main_form">
            <!--必填项-->
            <div class="text_info clearfix"><span>账务账号ID：</span></div>
            <div class="input_info"><input type="text" value="{{ account.id }}" readonly class="readonly"/></div>
            <div class="text_info clearfix"><span>姓名：</span></div>
            <div class="input_info"><input type="text" value="{{ account.real_name }}" readonly class="readonly"/></div>
            <div class="text_info clearfix"><span>身份证：</span></div>
            <div class="input_info">
                <input type="text" value="{{ account.idcard_no }}" readonly class="readonly"/>
            </div>
            <div class="text_info clearfix"><span>登录账号：</span></div>
            <div class="input_info">
                <input type="text" value="{{ account.login_name }}" readonly class="readonly"/>
            </div>
            <div class="text_info clearfix"><span>电话：</span></div>
            <div class="input_info">
                <input type="text" class="width200 readonly" readonly value="{{ account.telephone }}"/>
            </div>
            <div class="text_info clearfix"><span>推荐人账务账号ID：</span></div>
            <div class="input_info"><input type="text" readonly class="readonly" value="{{ r_id }}"/></div>
            <div class="text_info clearfix"><span>推荐人身份证号码：</span></div>
            <div class="input_info"><input type="text" readonly class="readonly" value="{{ r_idcard_no }}"/></div>
            <div class="text_info clearfix"><span>状态：</span></div>
            <div class="input_info">
                <select disabled>
                    <option>
                        {% if account.status == '0' %}
                            删除
                        {% elif account.status == '1' %}
                            开通
                        {% else %}
                            暂停
                        {% endif %}
                    </option>
                </select>
            </div>
            <div class="text_info clearfix"><span>开通时间：</span></div>
            <div class="input_info"><input type="text" readonly class="readonly" value="{{ account.create_date }}"/>
            </div>

            <div class="text_info clearfix"><span>暂停时间：</span></div>
            <div class="input_info">
                {% if account.pause_date %}
                    <input type="text" readonly class="readonly" value="{{ account.pause_date }}"/>
                {% else %}
                    <input type="text" readonly class="readonly" value=""/>
                {% endif %}
            </div>

            <div class="text_info clearfix"><span>删除时间：</span></div>
            <div class="input_info">
                {% if account.close_date %}
                    <input type="text" readonly class="readonly" value="{{ account.close_date }}"/>
                {% else %}
                    <input type="text" readonly class="readonly" value=""/>
                {% endif %}
            </div>

            <div class="text_info clearfix"><span>上次登录时间：</span></div>
            <div class="input_info">
                {% if account.last_login_time %}
                    <input type="text" readonly class="readonly" value="{{ account.last_login_time }}"/>
                {% else %}
                    <input type="text" readonly class="readonly" value=""/>
                {% endif %}
            </div>

            <div class="text_info clearfix"><span>上次登录IP：</span></div>
            <div class="input_info">
                {% if account.last_login_ip %}
                    <input type="text" readonly class="readonly" value="{{ account.last_login_ip }}"/>
                {% else %}
                    <input type="text" readonly class="readonly" value=""/>
                {% endif %}
            </div>

            <!--可选项数据-->
            <div class="text_info clearfix"><span>生日：</span></div>
            <div class="input_info">
                <input type="text" readonly class="readonly" value="{{ account.birthdate }}，由身份证计算而来"/>
            </div>
            <div class="text_info clearfix"><span>Email：</span></div>
            <div class="input_info">
                <input type="text" class="width350 readonly" readonly value="aa@aa.com"/>
            </div>
            <div class="text_info clearfix"><span>职业：</span></div>
            <div class="input_info">
                <select disabled>
                    <option>
                        {% if account.occupation is None %}
                            其他
                        {% else %}
                            {{ account.occupation }}
                        {% endif %}
                    </option>
                </select>
            </div>

            <div class="text_info clearfix"><span>性别：</span></div>
            <div class="input_info fee_type">
                <input type="radio" name="radSex" id="male" disabled/>
                <label for="male">男</label>
                <input type="radio" name="radSex" id="female" disabled/>
                <label for="female">女</label>
            </div>

            <div class="text_info clearfix"><span>通信地址：</span></div>
            <div class="input_info">
                {% if account.mailaddress %}
                    <input type="text" class="width350 readonly" readonly value="{{ account.mailaddress }}"/>
                {% else %}
                    <input type="text" class="width350 readonly" readonly value=""/>
                {% endif %}
            </div>

            <div class="text_info clearfix"><span>邮编：</span></div>
            <div class="input_info">
                {% if account.zipcode %}
                    <input type="text" class="readonly" readonly value="{{ account.zipcode }}"/>
                {% else %}
                    <input type="text" class="readonly" readonly value=""/>
                {% endif %}
            </div>

            <div class="text_info clearfix"><span>QQ：</span></div>
            <div class="input_info">
                {% if account.qq %}
                    <input type="text" class="readonly" readonly value="{{ account.qq }}"/>
                {% else %}
                    <input type="text" class="readonly" readonly value=""/>
                {% endif %}
            </div>
            <!--操作按钮-->
            <div class="button_info clearfix">
                <input type="button" value="返回" class="btn_save"
                       onclick="location.href='{% url 'account:account_list' %}';"/>
            </div>
        </form>
    </div>
    <!--主要区域结束-->
{% endblock %}

{% block footer %}
    <div id="footer">

    </div>
{% endblock %}