{% extends 'base_main.html' %}
{% load static %}
{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'NETCTOSS_Demo/main/account/js/account.js' %}"></script>
{% endblock %}
{% block content %}
    {{ block.super }}
    <!--主要区域开始-->
    <div id="main">
        <form action="" method="">
            <!--查询-->
            <div class="search_add">
                <div>身份证：<input type="text" name="idcard" value="" class="text_search"/></div>
                <div>姓名：<input type="text" class="width70 text_search2" value=""/></div>
                <div>登录名：<input type="text" value="" class="text_search3"/></div>
                <div>
                    状态：
                    <select class="select_search">
                        <option>全部</option>
                        <option>开通</option>
                        <option>暂停</option>
                        <option>删除</option>
                    </select>
                </div>
                <div><input type="button" value="搜索" class="btn_search"/></div>
                <input type="button" value="增加" class="btn_add" onclick="location.href='/account/account_add';"/>
            </div>

            <!--数据区域：用表格展示数据-->
            <div id="data">
                <table id="datalist">
                    <tr>
                        <th>账号ID</th>
                        <th>姓名</th>
                        <th class="width150">身份证</th>
                        <th>登录名</th>
                        <th>状态</th>
                        <th class="width100">创建日期</th>
                        <th class="width150">上次登录时间</th>
                        <th class="width200"></th>
                    </tr>
                    {% for account in p.object_list %}
                        <tr>
                            <td>{{ account.id }}</td>
                            <td class="real_name">{{ account.real_name }}</td>
                            <td>{{ account.idcard_no }}</td>
                            <td>{{ account.login_name }}</td>

                            {% if account.status == '1' %}
                                <td>开通</td>
                            {% elif account.status == '2' %}
                                <td>暂停</td>
                            {% else %}
                                <td>删除</td>
                            {% endif %}

                            <td>{{ account.create_date }}</td>

                            {% if account.last_login_time == None %}
                                <td></td>
                            {% else %}
                                <td>{{ account.last_login_time }}</td>
                            {% endif %}
                            {% if account.status == '0' %}
                                <td class="td_modi" hidden>
                                    <input type="button" value="暂停" class="btn_pause" id1="{{ account.id }}"/>
                                    <input type="button" value="修改" class="btn_modify"
                                           onclick="location.href='/account/account_modi'"/>
                                    <input type="button" value="删除" class="btn_delete" id="{{ account.id }}"/>
                                </td>
                            {% else %}
                                <td class="td_modi">
                                    {% if account.status == '1' %}
                                        <input type="button" value="暂停" class="btn_pause" id1="{{ account.id }}"/>
                                    {% else %}
                                        <input type="button" value="开通" class="btn_start" id1="{{ account.id }}"/>
                                    {% endif %}
                                    <input type="button" value="修改" class="btn_modify"
                                           onclick="location.href='/account/account_modi'"/>
                                    <input type="button" value="删除" class="btn_delete" id="{{ account.id }}"/>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
                <p>业务说明：<br/>
                    1、创建则开通，记载创建时间；<br/>
                    2、暂停后，记载暂停时间；<br/>
                    3、重新开通后，删除暂停时间；<br/>
                    4、删除后，记载删除时间，标示为删除，不能再开通、修改、删除；<br/>
                    5、暂停账务账号，同时暂停下属的所有业务账号；<br/>
                    6、暂停后重新开通账务账号，并不同时开启下属的所有业务账号，需要在业务账号管理中单独开启；<br/>
                    7、删除账务账号，同时删除下属的所有业务账号。</p>
            </div>
            <!--分页-->
            <div id="pages">
                {% if p.has_previous %}
                    <a href="{% url 'account:account_list' %}?page={{ p.previous_page_number }}">上一页</a>
                {% else %}
                    <a href="#">上一页</a>
                {% endif %}

                {% for foo in pagin.page_range %}

                    {% if foo == page %}
                        <a style="color: green" href="{% url 'account:account_list' %}?page={{ foo }}">{{ foo }}</a>
                    {% else %}
                        <a href="{% url 'account:account_list' %}?page={{ foo }}">{{ foo }}</a>

                    {% endif %}
                {% endfor %}

                {% if p.has_next %}
                    <a href="{% url 'account:account_list' %}?page={{ p.next_page_number }}">下一页</a>
                {% else %}
                    <a href="#">下一页</a>
                {% endif %}
            </div>
        </form>
    </div>
    <!--主要区域结束-->
    <div id="footer">

    </div>

{% endblock %}